body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-img {
  max-height: 650px;
}

.hero-banner{
  background-image: url("https://burst.shopifycdn.com/photos/restaurant-breakfast_4460x4460.jpg");
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.cheese {
  background-image: url("https://popmenucloud.com/cdn-cgi/image/width%3D1920%2Cheight%3D1920%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/opdchmzw/9334ddfa-27df-4731-812f-e11bcdfd123e.jpg");
  background-repeat: no-repeat;
  background-size: 100% 120%;
}